*{
	box-sizing: border-box;
}


h1{
	text-align: center;
}

#container-fluid {
 background-image: url("week2_assignment/dinner-menu-background-printables-and-menu-for-dinner-menu-background.jpg");
}
#section1{
	position: relative;
	background-color: #F5F5DC;
	width: 30%;
	height: 150px;
	float: left;
	border: 1px solid black;
	margin: 30px;

}

#meet1{
	position: absolute;
	top:0px;
	right:0px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	background-color: #CD5C5C;

	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 5px;

}

#text1{

	position: absolute;
	padding: 20px;
}

#section2{
	position: relative;
	background-color: #7FFFD4;
	width: 30%;
	height: 150px;
	float: left;
	border: 1px solid black;
	margin: 30px;
}

#meet2{
	position:absolute;
	top:0px;
	right:0px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	background-color: #FFA500;
	color: white;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 5px;
}
#text2{

	padding: 20px;

}

#section3{
	position: relative;
	background-color: #00CED1;
	width: 30%;
	height: 150px;
	border: 1px solid black;
	float: left;
	margin: 30px;
}

#meet3{
	position: absolute;
	top:0px;
	right:0px;
	width: 100px;
	height: 30px;
	text-align: center;	
	font-weight: bold; 
	background-color: #FA8072;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 5px;
}

#text3{
	padding: 20px;
}
